body{
    height: 500px;
}
.logIn {
    margin-top: 200px;
    margin-left: 150px;
}
.scroller {
    display: inline-flex;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-left: auto;
}
table,th {
    border: 1PX solid rgb(250, 245, 245);
    padding: 5px;
    padding: 10px;
}
th {
    background-color: rgb(167, 31, 13);
}
.content {
    margin-top: 40px;
    visibility: hidden;
}
.scroller{
    position:fixed;
    bottom:100px; 

}
#mark{
    margin-left: 30px;
}
.active {
    display: none;
}

